/* product demo */
.product {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  text-align: center;
}
.product-cart {
  border: 1px solid lightgray;
  padding: 10px;
  width: 200px;
  height: 300px;
  box-shadow: 2px 2px 10px rgb(182, 181, 181);
}

.cart {
  float: inline-end;
  font-size: 20px;
}
.cart a {
  text-decoration: none;
  color: white;
  background-color: #33758f;
  padding: 7px;
  border-radius: 6px;
}

/* navbar */
nav {
  background-color: #33758f;
  width: 100%;
}
nav ul {
  display: flex;
  margin-left: 5rem;
}
nav ul li {
  list-style: none;
  padding: 16px 15px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
}

/* product qunatity input box  */
input.quantityBox::-webkit-outer-spin-button,
input.quantityBox::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* todo-app */
.todo-table tr th,
.todo-table tr td {
  padding: 10px;
  width: 180px;
}
